<footer class='footer footer-center p-5'>
  <div class='grid grid-flow-col gap-4'>
    <a class='link link-hover text' a href='/aboutus'>About Us</a> 
    <a class='link link-hover text'>Contact Us</a> 
  </div> 
  <div>
    <div class='grid grid-flow-col gap-4'>
      <a href='https://github.com/skywalkah/borrowhood'  target='_blank'><i class='fa fa-github' style='font-size:30px; color:black;'></i></a>
    </div>
  </div> 
  <div>
    <p class='text'>Copyright © 2023 - All right reserved by Borrowhood</p>
  </div>
</footer>