<footer class='p-4 footer footer-center'>
  <div class='flex flex-col'>
    <a class='link link-hover text' a href='/aboutus'>About Us</a>
    <a href='https://github.com/skywalkah/borrowhood' target='_blank'>
      <i class='fa fa-github' style='font-size:25px; color:black;'></i>
    </a>
    <p class='text'>Copyright © 2023 - All right reserved by Borrowhood</p>
  </div>
</footer>