<nav class="bg-[#f5f2f2]">
  <div class="container p-4 mx-auto">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a href='/feed'>
          <img src='images/borrowhoodlogo.png' class='logo' alt='logo'>
        </a>
      </div>
      <!-- Navbar content -->
      <div class="hidden md:block">
        <ul class="flex space-x-4">
          {{#if isAuthenticated}}
          <li>
            <a href="/feed"
              class="block px-4 py-1 text-base font-semibold leading-loose text-center rounded-xl text-[#43a6bf] lg:inline-block lg:mt-0 hover:text-white hover:bg-[#43a6bf]">Home</a>
          </li>
          <li>
            <a href="/dashboard"
              class="block px-4 py-1 text-base font-semibold leading-loose text-center rounded-xl text-[#43a6bf] lg:inline-block lg:mt-0 hover:text-white hover:bg-[#43a6bf]">Dashboard</a>
          </li>
          <li>
            <a href="/profile"
              class="block px-4 py-1 text-base font-semibold leading-loose text-center rounded-xl text-[#43a6bf] lg:inline-block lg:mt-0 hover:text-white hover:bg-[#43a6bf]">Profile</a>
          </li>
          <li>
            <a href="/"
              class="block px-4 py-1 text-base font-semibold leading-loose text-center rounded-xl text-[#43a6bf] lg:inline-block lg:mt-0 hover:text-white hover:bg-[#43a6bf] logout">Logout</a>
          </li>
          {{ else}}
          <div class="flex">
            <button
              class='block px-4 py-1 mr-2 text-base font-semibold leading-loose text-center bg-gray-100 hover:bg-gray-50 rounded-xl'>
              <a role='button' href='/login'>Log In</a>
            </button>
            <button
              class='block px-4 py-1 text-base font-semibold leading-loose text-center text-white bg-[#43a6bf] hover:bg-[#348498] rounded-xl'>
              <a role='button' href='/register'>Sign Up</a>
            </button>
          </div>
          {{/if}}
        </ul>
      </div>
      <div class="md:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="text-gray-300 hover:text-white focus:outline-none focus:text-white"
          id="mobile-menu-button">
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
            <path class="hidden" fill-rule="evenodd" clip-rule="evenodd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z">
            </path>
            <path class="block" fill-rule="evenodd" clip-rule="evenodd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Mobile menu -->
    <div class="hidden overflow-hidden" id="mobile-menu">
      <ul class="pt-2 pb-4">
        {{#if isAuthenticated}}
        <ul tabindex='0' class='text-sm lg:flex-grow'>
          <li>
            <a href="/feed" class="block mr-4 text-[#1187a5] lg:inline-block lg:mt-0">Home</a>
          </li>
          <li>
            <a href="/dashboard" class="block mt-4 mr-4 text-[#1187a5] lg:inline-block lg:mt-0">Dashboard</a>
          </li>
          <li>
            <a href="/profile" class="block mt-4 mr-4 text-[#1187a5] lg:inline-block lg:mt-0">Profile</a>
          </li>
          <li>
            <a href="/" class="block mt-4 mr-4 text-[#1187a5] lg:inline-block lg:mt-0 logout">Logout</a>
          </li>
        </ul>
        {{ else}}
        <button class='block px-6 mr-2 font-semibold leading-loose text-center bg-gray-100 hover:bg-gray-50 rounded-xl'>
          <a role='button' href='/login'>Log In</a>
        </button>
        <button
          class='block px-6 font-semibold leading-loose text-center text-white bg-[#43a6bf] hover:bg-[#348498] rounded-xl'>
          <a role='button' href='/register'>Sign Up</a>
        </button>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<script>
  document.getElementById('mobile-menu-button').addEventListener('click', function () {
    var mobileMenu = document.getElementById('mobile-menu');
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('h-auto');
  });
</script>