<div class="title">
    <h1>Contact Us</h1>
</div>

<div class="contact">
    <p>The authors of this project are <a href='https://github.com/aripandini'>Arianne Pandini</a>, <a href='https://github.com/caitlinramsey'>Caitlin Ramsey</a>, <a href='https://github.com/joshuawongg'>Joshua Wongg</a>, and <a href='https://github.com/skywalkah'>Lucas Schvindt</a>. Please feel free to reach out to any of us with any questions about our application or suggestions for future development!</p>
</div>