<div class="contact">
    <p>The authors of this project are Arianne Pandini <a href='https://github.com/aripandini'></a>, Caitlin Ramsey <a href='https://github.com/caitlinramsey'></a>, Joshua Wongg <a href='https://github.com/joshuawongg'></a>, Lucas Schvindt <a href='https://github.com/skywalkah'></a></p>
</div>