<main class ='container'>  
    <div class='flex flex-col w-full lg:flex-row'>
  <div class='grid flex-grow card place-items-center'>
     <div class='chat chat-start'>
        <div class='chat-bubble'> Hey neighbor, I'm all out of sugar.<br/>Do you have some by any chance?</div>
    </div>
    <div class='chat chat-end'>
        <div class='chat-bubble'>Sure, come by I'll give you a cup!</div>
    </div>
  </div> 
  <div class='grid flex-grow card place-items-center welcome'> Welcome to borrowHood. 
    <br/> A place to connect with neighbors and share resources.</div>
</div>     
    {{!-- <div class='chat chat-start'>
        <div class='chat-bubble'> Hey neighbor, I'm all out of sugar.<br/>Do you have some by any chance?</div>
    </div>
    <div class='chat chat-end'>
        <div class='chat-bubble'>Sure, come by I'll give you a cup!</div>
    </div> --}}
</main>
