<main class='container flex justify-center flex-grow'>
  <div class='grid md:grid-cols-2 place-items-center'>
    <div class="flex flex-col h-full md:h-1/2 justify-evenly">
      <div class='chat chat-start'>
        <div class='chat-bubble'>
          Hey neighbor, I'm all out of sugar.<br />Do you have some by any
          chance?
        </div>
      </div>
      <div class='chat chat-end'>
        <div class='chat-bubble'>Sure, come by and I'll give you a cup!</div>
      </div>
    </div>
    <div class='flex flex-col justify-start h-full text-center md:h-auto md:text-left'>
      <div>
        <h1 class="text-5xl italic font-bold leading-tight lg:leading-relaxed">Welcome to Borrowhood.</h1>
        <p>A place to connect with neighbors and share resources.</p>
      </div>
    </div>
  </div>
</main>