<div class='relative flex flex-col justify-center h-screen overflow-hidden'>
        <div class='p-6 rounded-md shadow-md lg:max-w-xl forms'>
            <h1 class='text-3xl font-semibold text-center'>Register</h1>
            <form id='registration-form' class='registration-form space-y-4 requires-validation' novalidate>
              <div id='registration-alert'></div>
                <div>
                    <label for='firstName' class='label'>
                        <span class='text-base label-text'>First Name</span>
                    </label>
                    <input type='text' placeholder='First Name' class='w-full input input-bordered input-primary' id='firstName' required />
                </div>
                <div>
                    <label for='lastName' class='label'>
                        <span class='text-base label-text'>Last Name</span>
                    </label>
                    <input type='text' placeholder=' Last Name' class='w-full input input-bordered input-primary' id='lastName' required />
                </div>
                <div>
                    <label for='email' class='label'>
                        <span class='text-base label-text'>Email</span>
                    </label>
                    <input type='email' placeholder='Email Address' class='w-full input input-bordered input-primary' id='email' required/>
                </div>
                <div>
                    <label for='password' class='label'>
                        <span class='text-base label-text'>Password</span>
                    </label>
                    <input type='password' placeholder='Enter Password'
                        class='w-full input input-bordered input-primary' id='password' required/>
                </div>
                <div>
                    <button type='submit' class='btn btn-block mt-4 login-btn'>Sign Up</button>
                </div>
                <p class='text-center mt-3 mb-0'>Already have an account? 
                  <a class='link link-hover form-link' href='/login'> Log in</a></p>
            </form>
        </div>
    </div>


<script src='js/register.js'></script>