:root { 
  --primary:#f5f2f2;
  --secondary: #43a6bf;
  --secondary-light: #4dc0de;
  --highlights: #77b664; 
  --text: black;
  --light-gray: #DDDDDD;
  --unavailable: #e74c3c;
  --stars: #e67e22;
  --yellow: #f1c40f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  min-height: 100vh;

}

.logo-sm {
  width: 50px;
  height: 50px;
}

/* Global Styling */
.display-inline {
  display: inline-block;
}
.stars {
  color: var(--stars);
}

.trigger-modal {
  cursor: pointer;
}

.card {
  position: relative;
  background-color: #e6ede7
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 10px;
  right: 5px;
}

.available {
  background-color: var(--highlights);
}

.pending {
  background-color: var(--yellow);
}

.not-available {
  background-color: var(--unavailable);
}

.status-keys {
  position: relative;
  text-align: center;
}

.status-keys li {
  display: inline-block;
  margin-right: 15px;
}

.status-keys .status-dot {
  position: inherit;
}

/*  Navbar Styling  */
.navbar {
  padding: 25px;
  background-color: var(--primary);
  border-bottom: solid 1px var(--secondary);
  /* will remove bottom border later on, it's here for now as a reference */
}
.navbar-btn {
  margin-left: 2.5rem;
  padding: 5px;
  background: none !important;
  border: none;
  cursor: pointer;
}

.burger :hover {
  background-color: none !important;
}

.logo {
  height: 4.5rem;
  width: auto;
}

.welcome {
  font-size: 20px;
  color: var(--text);
}

/* Request container */

.request-container span {
  padding: 10px 0;
  display: block;
}
/* .request-container span:last-of-type {
  margin-bottom: 0;
} */
.borrowed-by,
.borrowed-from {
  margin-top: 30px;
  padding-top: 15px;
}
.border-top {
  border-top: 2px solid var(--text);
}

/* Chat Styling */

.home {
  margin-top: 5.5rem;
}
.chat {
  padding: 80px;
}

.chat-bubble {
  background-color: var(--highlights);
  color: var(--primary);
}

.chat-start {
  margin-bottom: -80px;
}

/* Form Styling */
.forms {
  margin: auto;
  margin-top: 3.5rem;
  width: 40%;
}

button .forms {
  background-color: none !important ;
}

.login-btn, .borrow-button, .add-item-btn {
  border-color: var(--secondary);
}

.input-group  > :last-child{
  border-color: var(--secondary);
  border-radius: var(--rounded-btn, 0.5rem);
  background-color: white !important;
}

.input-primary {
  border-color: var(--secondary);
  border-radius: var(--rounded-btn, 0.5rem);
  background-color: white !important;
}

.form-link {
  color: var(--secondary);
}

/* Dashboard Styling */

.welcome-text {
  font-size: x-large;
  color: var(--text);
}

.dashboard-top {
  margin: auto;
  margin-top: 3.5rem;
  width: 40%;
}

.post {
  padding-left: 1rem;
  font-size: larger;
  color: var(--text);
}

.none {
  padding-left: 1rem;
  font-size: larger;
  color: var(--text);
}

#dashboard {
  margin-bottom: 40px;
}

#dashboard section * {
  color: var(--text);
}

#dashboard section h2 {
  margin-top: 20px;
}

#dashboard section h3 {
  margin-top: 0;
}

#dashboard section p {
  margin-top: 0;
}

#dashboard section p:last-of-type {
  margin-bottom: 0;
}

#dashboard section .dash-card-text {
  font-weight: bold;
}

.emptyBox {
  display: block;
  width: 100%;
  background-color: var(--light-gray);
}


/* Feed Styling */

.borrow-card {
  background-color: white; 
  color: var(--text);
}

.add-item-form {
  background-color: white; 
  color: var(--text);
}

.add-item-input {
  padding: .5rem;
  width: 100%;

}

.add-item-txtarea {
  width: 100%;
}

.add-item-nametxt {
  width: 100%;
}

.add-item-button-div {
  display: flex;
  justify-content: center;
}

.close-icon, .delete-button {
  float: right;
  cursor: pointer;
}

.your-items {
  display: block;
}

.fa-plus-square {
  float: right;
  margin-left: .5rem;
  margin-top: -3.25rem;
  font-size: 25px;
  cursor: pointer;
}


/* Feed Styling */

.modal-title {
  font-weight: bold;
  font-size: 2rem;
}


/* .feed-card {
  background-color: var(--secondary);
} */

.card-title,
.card-description,
.card-condition,
.card-owner,
.card-available,
.card-not-available,
.borrowed-by {
  color: var(--text);
}

/* .not-rated {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
} */

/* About Us */

.about-title {
  color: var(--secondary);
  font-size: 3rem;
  position: relative;
  padding-top: 1rem;
  font-weight: bold;
}

.about-body {
  color: var(--text);
  position: relative;
  font-size: 1.5rem;
  padding: 2rem;
}

.contact-title {
  color: var(--secondary);
  font-size: 3rem;
  position: relative;
  padding-top: 1rem;
  font-weight: bold;
}

.contact-body {
  color: var(--text);
  position: relative;
  font-size: 1.5rem;
  padding: 2rem;
}

/* Footer Styling */

footer {
  background-color: var(--secondary);
}

footer .text {
  color: var(--text); 
}