:root { 
  --primary:#f5f2f2;
  --secondary: #43a6bf;
  --secondary-light: #4dc0de;
  --highlights: #77b664; 
  --highlights-light: #e6ede7;
  --text: black;
  --light-gray: #DDDDDD;
  --unavailable: #e74c3c;
  --stars: #e67e22;
  --pending: #f1c40f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  color:var(--text);

}

.logo-sm {
  width: 50px;
  height: 50px;
}

/* Global Styling */
.display-inline {
  display: inline-block;
}
.stars {
  color: var(--stars);
}

.trigger-modal {
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--highlights-light);
}

/* Status dots */

.status-container {
  background-color: rgba(0,0,0,.025);
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 10px;
  right: 5px;
}

.available {
  background-color: var(--highlights);
}

.pending {
  background-color: var(--pending);
}

.not-available {
  background-color: var(--unavailable);
}

.status-keys {
  position: relative;
  text-align: center;
  padding: .5rem;
}

.status-keys li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--text);
  font-size: .9em;
}

.status-keys .status-dot {
  position: inherit;
}

/*  Navbar Styling  */
.navbar {
  padding: 25px;
  background-color: var(--primary);
}
.navbar-btn {
  margin-left: 2.5rem;
  padding: 5px;
  background: none !important;
  border: none;
  cursor: pointer;
}
.navbar-end a#logout {
  color: var(--text);
}
.burger :hover {
  background-color: none !important;
}

.logo {
  height: 4.5rem;
  width: auto;
}

.welcome {
  font-size: 20px;
  color: var(--text);
}

/* Request container */

.request-container span {
  padding: 10px 0;
  display: block;
}
/* .request-container span:last-of-type {
  margin-bottom: 0;
} */
.borrowed-by,
.borrowed-from {
  margin-top: 30px;
  padding-top: 15px;
}
.border-top {
  border-top: 2px solid var(--text);
}

/* Chat Styling */

.home {
  margin-top: 5.5rem;
}
.chat {
  padding: 80px;
}

.chat-bubble {
  background-color: var(--highlights);
  color: var(--primary);
}

.chat-start {
  margin-bottom: -80px;
}

/* Form Styling */
.forms {
  margin: auto;
  margin-top: 3.5rem;
  width: 40%;
}

button .forms {
  background-color: none !important ;
}

.login-btn, .borrow-button, .add-item-btn, .add-review-button, .return-button {
  border-color: var(--secondary);
}

.input-group  > :last-child{
  border-color: var(--secondary);
  border-radius: var(--rounded-btn, 0.5rem);
  background-color: white !important;
}

.input-primary {
  border-color: var(--secondary);
  border-radius: var(--rounded-btn, 0.5rem);
  background-color: white !important;
}

.form-link {
  color: var(--secondary);
}

/* Dashboard Styling */

.welcome-text {
  font-size: x-large;
  color: var(--text);
}

.dashboard-top {
  margin: auto;
  margin-top: 3.5rem;
  width: 40%;
}

.post {
  padding-left: 1rem;
  font-size: larger;
  color: var(--text);
}

.none {
  padding-left: 1rem;
  font-size: larger;
  color: var(--text);
}

#dashboard {
  margin-bottom: 40px;
}

#dashboard section * {
  color: var(--text);
}

#dashboard section h2 {
  margin-top: 20px;
}

#dashboard section h3 {
  margin-top: 0;
}

#dashboard section p {
  margin-top: 0;
}

#dashboard section p:last-of-type {
  margin-bottom: 0;
}

#dashboard section .dash-card-text {
  font-weight: bold;
}

.emptyBox {
  display: block;
  width: 100%;
  background-color: var(--light-gray);
}

/* Collapse Review Styling */

.collapse {
background-color: rgba(119, 182, 100, 0.25);
color: var(--text);
margin-top: 1.5rem;

}

.review-form {
  background-color: none !important;
  color: var(--text)
}

.collapse-content {
  color: var(--text);
}


.rating {
  width: 180px;
}

.rating__star {
  cursor: pointer;
  color: var(--stars);
}

/* Feed Styling */

.borrow-card {
  background-color: white; 
  color: var(--text);
}

.add-item-form {
  background-color: white; 
  color: var(--text);
}

.add-item-input, .add-review-input {
  padding: .5rem;
  width: 100%;

}

.add-item-txtarea, .add-review-txtarea {
  width: 100%;
}

.add-review-txtarea {
  background-color: rgba(119, 182, 100, 0);
  border-color: var(--secondary);
  color: var(--text);
}

.add-item-nametxt {
  width: 100%;
}

.add-item-button-div {
  display: flex;
  justify-content: center;
}

.close-icon, .delete-button {
  float: right;
  cursor: pointer;
}

.your-items {
  display: block;
}

.fa-plus-square {
  float: right;
  margin-left: .5rem;
  margin-top: -3.25rem;
  font-size: 25px;
  cursor: pointer;
}


/* Feed Styling */

.modal-title {
  font-weight: bold;
  font-size: 2rem;
}

.feed-card {
  position: relative;
}

.feed-card .dropdown {
  position: absolute;
  top: 14px;
  right: 4px;
  cursor: pointer;
  background-color: transparent;
}

.feed-card label,
.feed-card label:hover {
  background-color: transparent;
}

.feed-card label .fa-ellipsis-v::before {
  color: #999;
}

.feed-card label:hover .fa-ellipsis-v::before {
  color: var(--text)
}

.feed-card ul.dropdown-content {
  background-color: white;
  margin: 0;
  padding: 0;
}

.feed-card ul.dropdown-content li {
  margin: 0;
  padding: 0 15px;
}

.feed-card ul.dropdown-content li:first-child {
  padding-top: 15px;
}

.feed-card ul.dropdown-content li:last-child {
  padding-bottom: 15px;
}

.indicator {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--unavailable);
}

.hint {
  position: absolute;
  top: 21px;
  right: 6px;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.card-title,
.card-description,
.card-condition,
.card-owner,
.card-available,
.card-not-available,
.borrowed-by {
  color: var(--text);
}

/* .not-rated {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
} */

/* About Us */

.about-title {
  color: var(--text);
  background-color: var(--secondary-light);
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  margin-left: 3rem;
  margin-right: 3rem;
}

.about-desc {
  color: var(--text);
  position: relative;
  font-size: 1.5rem;
  margin: 3rem;
}

.divider {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.contact-title {
  color: var(--text);
  background-color: var(--secondary-light);
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  margin-left: 3rem;
  margin-right: 3rem;
}

.contact-desc {
  color: var(--text);
  position: relative;
  font-size: 1.5rem;
  margin: 3rem;
}

/* Profile Styling */

#profile * {
  color: var(--text);
}

#profile h3 {
  margin-top: 0;
}

#profile h3.border-top {
  padding-top: 20px;
}

#profile p {
  margin: 0;
}

#profile p:last-of-type {
  margin-bottom: 20px;
}

#profile input {
  background-color: white;
}

/* Footer Styling */

footer {
  background-color: var(--secondary);
}

footer .text {
  color: var(--text); 
}